html {
   height:100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size:14px;
    height:100%;
    background: #56565a;
}

#root {
   height:100%;
}

button:focus {
    outline: none;
}

.chrome-picker {
    width:300px !important;
}

.MuiTableCell-root {
    padding: 10px 15px !important;
}

.MuiTableCell-root.icon-cell {
    padding: 2px 15px !important;
}

.textfield-inherited .MuiInputBase-root {
    color:inherit;
    font-size:inherit;
}

.textfield-inherited input {
    text-align: right;
    padding-bottom:0;
    padding-top: 0;
}

.textfield-inherited .MuiInput-underline:before {
    border-bottom-color:white !important;
}

div.DraftEditor-root {
    flex-grow:1;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
    overflow-y: scroll;
    padding:5px;
    font-size: 16px;
}

.editor-action {
    cursor:pointer;
    width:18px !important;
}

.editor-action:active {
    background:lightgrey;
}