.ui-btn.problemStatusButton {
	height:80px; 
	line-height:80px; 
	border:2px solid white; 
	border-radius:40px;
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-right: 5px;
}

.ui-btn.problemStatusButton:last-child {
	margin-right: 0px;
}

.ui-btn.problemStatusButton div {
	font-size:14px;
	line-height:14px;
	margin-top:5px;	
}