html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    background-color: #000000;
    overflow-y: hidden;
    -webkit-tap-highlight-color: transparent;
}

#header {
    width: 100%;
    height: 20%;
    background-color: rgba(0, 80, 179, 1);
    display: table;
    text-align: center;
}

#contents {
    width: 100%;
    height: 60%;
    background-color: #000000;
    text-align: center;
}

#footer {
    width: 100%;
    height: 20%;
    background-color: rgba(39, 119, 217, 1);
    display: table;
    text-align: center;
}

#area-title {
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#area-news {
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#area-pagenum {
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.header-title {
    margin: 0 auto;
    padding: 0;
    font-weight: bold;
    font-size: 2.0em;
    color: #ffffff;
}

.subject {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    list-style: none;
    font-weight: bold;
    font-size: 1.8em;
    color: #ffffff;
}

.pagenum {
    margin: 0 auto;
    padding: 0;
    font-size: 1.6em;
    color: #ffffff;
}