[Unit]
Description=ClimbLive
After=syslog.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
User=climblive
ExecStart=/usr/bin/java -jar /opt/climblive/climblive.jar --spring.config.additional-location=file:/etc/climblive/
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
