<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/Scoreboard" version="1.0.0" viewmodes="maximized">
    <access origin="https://www.tizen.org" subdomains="true"></access>
    <tizen:application id="PBzHud5b4P.Scoreboard" package="PBzHud5b4P" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Scoreboard</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="wearable"/>
</widget>
