.problem {
   border: 1px solid grey;
   margin-bottom:3px;
   border-radius:5px;
   position:relative;
}

.problem .firstRow {
   padding:7px 10px;
   border-radius: 4px;
   display:flex;
   align-items: center;
   min-height:28px;
}

.problem .secondRow {
   position:absolute;
   height:100%;
   right:0;
   top:0;
   display:flex;
   transition: width 0.2s;
   overflow:hidden;
   width:0;
}

.problem .secondRow button {
   margin:2px;
   flex-grow:1;
}

.problem .secondRow.expanded {
   display:flex;
   width:200px;
}

.problem.done .firstRow {
}

.problem button .buttonText {
   font-size: 8px;
   margin-top: -4px;
}

.problem button {
   min-width:60px;
}

.xxproblem:active {
   opacity:0.6;
}

.problem .id {
   width: 20px;
}

.problem .color {
   width:60px;   
   text-align: left;
   margin-left:15px;
}

.problem .points {
   text-align: right;
   width:60px;
}

.problem .sent {
   margin-left:auto;
}