.scoreboardList {
   flex-basis: 0;
   flex-grow:1;
}

.scoreboardList:NOT(:last-child) {
   border-right: 1px solid #DDD;
}

.compClassHeader {
   flex-basis: 0;
   flex-grow:1;
   text-align: center;
}

.contenderRow {
   display:flex;
}

.compClassHeader .compClass {
   margin-bottom:10px;
   padding-top: 20px;
   font-size: 24px;
}

.compClassHeader .status {
   color: #888;
   font-size: 12px;
}

.compClassHeader .time {
   margin-top: 1px;
   font-size: 24px;
   color: #800;
}

.name {
   flex-grow: 1;
}

.position {
   margin-left: 20px;
   width:30px;
}

.score {
   margin-left:10px;
   width: 50px;
}