.scoreboardView {
   background: black;
   color: #E0E0E0;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   position: relative;
}

.scoreboardListContainer {
   display:flex;
   flex-shrink:0;
}

.scoreboardListContainer.total {
   flex-grow: 1;
}

.header {
   text-align: center;
   padding:20px 20px 5px 20px;
   margin: 0 20px 10px 20px;
   border-bottom: 1px solid #DDD;
   flex-shrink:0;
}

.logoContainer {
   display:flex;
   align-items: center;
   padding-bottom: 5px;
   padding-top:20px;
   flex-shrink:0;
}

.logoContainer img {
   margin: 0 30px;
}

.logoContainer img:first-child {
   margin-left:auto;
}

.logoContainer img:last-child {
   margin-right:auto;
}

.winnerContainer {
   position:absolute;
   background:#000000d6;
   z-index: 100;
   top:0;
   left:0;
   right:0;
   bottom:115px;
   text-align: center;
   padding-top:100px;
}

.winner {
   font-size: 18px;
   color:#9a9a9a;
}

.winner:first-child {
   font-size: 50px;
   color:#E0E0E0;
   margin-bottom:20px;
}