.startView {
   display:flex;
   flex-direction: column;
   align-items: center;
   flex-grow:1;
   background-image: url('/background.jpg');
   background-size: cover;
}

.startView .message {
   font-weight: bold;
}

.startView .activationWrapper {
   height: 300px;
   display:flex;
   flex-direction: column;
   align-items: center;
   margin-top:auto;
   margin-bottom:auto;
   padding:0 50px;
}

.startView input {
   margin-bottom:20px;
   background: none;
   font-size:36px;
}

.startView button {
   width:100%;
   margin-top: 20px;
   border-radius: 8px;
   background-color: #58b864;
   height:50px;
   border:none;
   color:white;
   font-size:17px;
}

.startView button.disabled {
      display:none;
 }